body {
    background-image: url("img/trees-winter2.jpg");
}
h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
}
p {
    font-family: 'Quicksand', sans-serif;
}
.wrapper {
    margin: auto;
    width: 95%;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}
section {
    width: 100%;
}

article {
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    max-width: 98%;
}

article div {
    padding: 5px;
    text-align: center;
    margin: auto;
    border: 1px solid darkslategrey;
}
